body {
   color: #fff;
}

header {
   line-height: 70px;
   background-color: #2C3E50;
}

ul {
   margin: unset;
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
   color: #FFF;
}

.jumbotron {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #1ABC9C;
}

.content_jumbo {
   height: 200px; /*da rimuovere*/
   background-color: wheat;
}

.portfolio_img {
   height: 200px; /*da rimuovere*/
   border: 1px solid black; /*da rimuovere*/
   background-color: yellowgreen;
}