body {
   color: #fff;
}

.container_70 {
   width: 70%;
   margin: 0 auto;
}

ul {
   margin: unset;
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
   color: #FFF;
}

.py_50 {
   padding-top: 50px;
   padding-bottom: 50px;
}

.border_b { /* border bottom senza radius radius*/
   border: none;
   border-bottom: 1px solid lightgrey;
   border-radius: 0px;
}

.bg_green {
   background-color: #1ABC9C;
}


/* HEADER  */
header {
   line-height: 70px;
   background-color: #2C3E50;
}

/* JUMBOTRON  */
._jumbotron {
   margin-top: 70px;
}
.content_jumbo {
   width: 800px;
   max-width: 100%;
   margin: auto;
}
._avatar {
   width: 200px;
}

/* PORTFOLIO  */
.portfolio_img {
   margin: 20px 10px;
}
.portfolio_img img {
   width: 100%;
   border-radius: 10px;
}

/* ABOUT  */
.btn_custom {
   border: 1px solid #FFF;
   padding: 8px 15px 11px;
}
.about.btn_custom:hover {
   color: #2C3E50;
   background-color: #fff;
}

/* CONTACT ME */
button.send {
   border: none;
}
button.send:hover {
   background-color: #128971;
}

.footer_top {
   background-color: #3A546D;
}

.footer_bottom {
   background-color: #2C3E50;
}