body {
   color: #fff;
}

.container_60 {
   width: 60%;
   margin: 0 auto;
}

header {
   line-height: 70px;
   background-color: #2C3E50;
}

ul {
   margin: unset;
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
   color: #FFF;
}

.py_50 {
   padding-top: 50px;
   padding-bottom: 50px;
}

.bg_green {
   background-color: #1ABC9C;
}

.content_jumbo {
   width: 800px;
   max-width: 80%;
   height: 200px; /*da rimuovere*/
   margin: auto;
   background-color: wheat;
}

.portfolio_img {
   height: 200px; /*da rimuovere*/
   margin: 20px 10px;
   background-color: yellowgreen;
}

.label {
   background-color: lightgrey; /*da rimuovere*/
   border: 1px solid black; /*da rimuovere*/
}

.footer_top {
   background-color: #3A546D;
}

.footer_bottom {
   background-color: #2C3E50;
}